.overlapped-entry {
    position: relative;
    top: -64px;
    margin: 0 10%;
    padding: 12px 32px;
    background: white;
}

@media (max-width: 767px) {
    .overlapped-entry {
        margin: 0;
    }
}

.overlapped-entry h2 {
    font-family: Lato, sans-serif;
    font-size: 33px;
    font-weight: normal;
    text-transform: uppercase;
}

.overlapped-entry h2 a {
    color: black;
}

.overlapped-entry h2 a:hover {
    color: green;
    text-decoration: none;
}

.leftcolumn ul, .leftcolumn li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftcolumn li {
    padding: 2px 0;
}

.leftcolumn {
    color: #aaa;
    font-size: 12px;
    font-family: Lato, sans-serif;
    line-height: 1.5em;
}

.leftcolumn h3 {
    color: white;
    text-transform: uppercase;
    font: bold 12px Lato, sans-serif;
    margin: 32px 0;
}

.leftcolumn a {
    color: white;
}

.leftcolumn a:hover {
    color: green;
    text-decoration: none;
}

.overlapped-entry {
    line-height: 1.5em;
    font-family: Lato, sans-serif;
}