---
layout: twocolumn
---

<div class="home">

    {% for post in paginator.posts %}
    <div>
        {% if post.header_img %}
        <img src="{{ post.header_img }}" style="width:100%;height:auto;"/>
        {% endif %}
        <div class="overlapped-entry">
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div style="margin: 16px 0;">
                <span class="post-meta"><i class="glyphicon glyphicon-time"></i>
                    {% assign m = post.date | date: "%-m" %}
								    {{ post.date | date: "%-d" }}
								    {% case m %}
								    {% when '1' %}de enero de
								    {% when '2' %}de febrero de
								    {% when '3' %}de marzo de
								    {% when '4' %}de abril de
								    {% when '5' %}de mayo de
								    {% when '6' %}de junio de
								    {% when '7' %}de julio de
								    {% when '8' %}de agosto de
								    {% when '9' %}de septiembre de
								    {% when '10' %}de octubre de
								    {% when '11' %}de noviembre de
								    {% when '12' %}de diciembre de
								    {% endcase %}
								    {{ post.date | date: "%Y" }}
								</span>
                <span style="padding-left:16px;">
                    <a href="{{ post.url }}#comments">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span class="disqus-comment-count" data-disqus-url="http://tiovictor.romhackhispano.org{{ post.url }}">Comentarios</span>
                    </a>
                </span>
            </div>
            <div class="excerpt">
                {{ post.excerpt }}
                <a href="{{ site.baseurl }}{{ post.url }}"><strong><h3>Seguir leyendo</h3></strong></a>
            </div>
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if paginator.previous_page_path %}
            <li>
                <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <li><a href="/">1</a></li>
            {% for page in (2..paginator.total_pages) %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                page }}</a></li>
            {% endfor %}
            {% if paginator.next_page_path %}
            <li>
                <a href="{{ paginator.next_page_path }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script id="dsq-count-scr" src="//traduccionesdeltiovictor.disqus.com/count.js" async></script>

