<div class="container-fluid">
    <div class="row">
        {% if include.gallery %}
        {% assign gallery = include.gallery %}
        {% else %}
        {% assign gallery = page.gallery %}
        {% endif %}
        {% for img in gallery %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{{ img.path }}" data-lightbox="roadtrip" target="_blank">
                <img src="{{ img.path }}" style="width:100%;height:auto;padding: 8px;"/>
            </a>
        </div>
        {% endfor %}
    </div>
</div>