/* ==========================================================================
   Tio Victor skin
   ========================================================================== */

/* Colores */
$gray                       : #2196f3 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 30%) !default;
$lighter-gray               : mix(#fff, $gray, 70%) !default;

$primary-color              : #0d47a1 !default;
$info-color                 : #2196f3 !default;

/* Color de cabecera */
/* Antes ubicado en masthead.scss */
.masthead {
  background: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

/* Antes ubicado en navigation.scss */
.greedy-nav {
  background: $lighter-gray;
}

/* Page hero */
/* Antes ubicado en page.scss */
.page__hero {
  &--overlay {
    margin-bottom: 1.5em;
    padding: 2.5em 0;
    min-height: 9em;
  }
}

$right-sidebar-width-narrow: 175px !default;
$right-sidebar-width: 280px !default;
$right-sidebar-width-wide: 400px !default;