<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ '/bootstrap/css/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
          href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

    <script src="{{ '/js/jquery-3.1.0.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            var $allVideos = $("iframe[src^='//player.vimeo.com'], iframe[src^='//www.youtube.com'], iframe[src^='//www.youtube-nocookie.com'], object, embed");
            var $fluidEl = $("figure");

            $allVideos.each(function () {

                $(this)
                // jQuery .data does not work on object/embed elements
                        .attr('data-aspectRatio', this.height / this.width)
                        .removeAttr('height')
                        .removeAttr('width');

            });

            $(window).resize(function () {

                var newWidth = $fluidEl.width();
                $allVideos.each(function () {

                    var $el = $(this);
                    $el
                            .width(newWidth)
                            .height(newWidth * $el.attr('data-aspectRatio'));

                });

            }).resize();

        });
    </script>
</head>

<body>

<div class="container" style="padding:0;">

    <header class="site-header">

        <div class="wrapper">

            <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/2014/04/banner-final-3.jpg"
                                                                  style="width:100%;height:auto;"/></a>

        </div>

    </header>

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    <footer class="site-footer">

        <div class="wrapper">

            <h2 class="footer-heading">{{ site.title }}</h2>

            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li>{{ site.title }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    </ul>
                </div>

                <div class="footer-col footer-col-2">
                </div>

                <div class="footer-col footer-col-3">
                    <p>{{ site.description }}</p>
                </div>
            </div>

        </div>

    </footer>

</div>

</body>

</html>
