---
layout: twocolumn
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.header_img %}
    <img src="{{ page.header_img }}" style="width:100%;height:auto;"/>
    {% endif %}

    <div class="overlapped-entry">
        <header class="post-header">
            <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
            <p class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign m = page.date | date: "%-m" %}
							    	{{ page.date | date: "%-d" }}
						    		{% case m %}
							    	{% when '1' %}de enero de
							    	{% when '2' %}de febrero de
							    	{% when '3' %}de marzo de
							    	{% when '4' %}de abril de
						    		{% when '5' %}de mayo de
						    		{% when '6' %}de junio de
						    		{% when '7' %}de julio de
							    	{% when '8' %}de agosto de
							    	{% when '9' %}de septiembre de
							    	{% when '10' %}de octubre de
							    	{% when '11' %}de noviembre de
							    	{% when '12' %}de diciembre de
							    	{% endcase %}
							    	{{ page.date | date: "%Y" }}
                </time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name"><a href="{{ page.author.url }}">{{ page.author.display_name }}</a></span></span>{%
                endif %}
            </p>
        </header>

        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>

        <div id="comments"></div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
            var disqus_config = function () {
                //{% if page.wordpress_id %}
                ////this.page.identifier = {{ page.wordpress_id }};
                this.page.url = "http://tiovictor.romhackhispano.org{{ page.url }}";
                //{% else %}
                //this.page.identifier =
                this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
                //{% endif %}
            };
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//traduccionesdeltiovictor.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            Por favor, activa JavaScript para ver 
            <a href="https://disqus.com/?ref_noscript">
                los comentarios via Disqus.
            </a>
        </noscript>

    </div>

</article>

