---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            {{ content }}
        </div>
        <div class="col-md-3 col-md-pull-9">

            <h3>Últimas noticias</h3>

            <ul>
                {% for post in site.posts | limit: 5 %}
                <li><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

            <h3>Externo</h3>

            <ul>
                {% for friend in site.data.friends %}
                <li><a href="{{ friend.link }}" target="_blank">{{ friend.title }}</a></li>
                {% endfor %}
            </ul>

            <h3>Advertencia</h3>

            <p>Ni Traducciones del Tío Víctor ni ninguna de las personas mencionadas en este blog se hacen responsables
                de los daños ocasionados en vuestras consolas o dispositivos de juego por un mal uso de las traducciones
                que se muestran.</p>

            <p>Traducciones del Tío Víctor no apoya la piratería, que se utilicen los parches sobre material descargado
                de internet o copias de los juegos descargadas de internet con los parches de TTV ya aplicados.</p>

            <p>Traducciones del Tío Víctor nunca distribuirá copias de juegos ya traducidos a menos que exista un
                permiso previo por parte de su autor. Si encuentras a alguien vendiendo nuestras traducciones, no somos
                nosotros.</p>

            <h3>Política de privacidad y cookies</h3>

            <p><a href="/politica-de-privacidad/">Política de privacidad</a></p>
        </div>
    </div>
</div>