---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            {{ content }}
        </div>
        <div class="col-md-3 col-md-pull-9">
            <p>ADVERTENCIA</p>

            <p>Ni Traducciones del Tío Víctor ni ninguna de las personas mencionadas en este blog se hacen responsables de los daños ocasionados en vuestras consolas o dispositivos de juego por un mal uso de las traducciones que se muestran.</p>

            <p>Traducciones del Tío Víctor no apoya la piratería, que se utilicen los parches sobre material descargado de internet o copias de los juegos descargadas de internet con los parches de TTV ya aplicados.</p>

            <p>Traducciones del Tío Víctor nunca distribuirá copias de juegos ya traducidos a menos que exista un permiso previo por parte de su autor. Si encuentras a alguien vendiendo nuestras traducciones, no somos nosotros.</p>
        </div>
    </div>
</div>